---
layout : default
---
{{# posts.latest }}

<article class="post">
<header class="post-header">
<h2 class="post-title">
<a href="{{url}}">{{title}}</a>
</h2>
<p class="post-meta clearfix">
{{# categories }}
<a href="{{url}}" class="post-category {{name}}">{{ name }}</a>
{{/ categories }}
</p>
<p><span class="post-date">{{date}}</span></p>
</header>
<div class="post-description">
  {{{ summary }}}
</div>
<div class="more">
  <a href="{{url}}" class="btn">更多..</a>
</div>
</article>
{{/ posts.latest }}

<center><div class="archives"><a href="/archives" class="pure-button">~~ 全部文章 ~~</a><div></center>

