body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #FCFCFC
	margin: 0px;
	padding: 0px;
	min-width: 320px;
}

.container {
	width: 75%;
	margin: auto;
}
.item { 
	width: 30%;
	min-width: 120px;
	margin: 5px;
	padding: 5px;
	background: #F1F1F1;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-box-shadow: 1px 1px 5px #444;
	-moz-box-shadow: 1px 1px 5px #444;
	box-shadow: 1px 1px 5px #444; 
}
.item .title{
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	color: #000;
	margin-bottom: 5px;
}
.item .title a{
	color: #444;
	text-decoration: none;
}
.item .content {
	color: #444;
	font-size: 13px;
	line-height: 18px;
	margin: 3px 0px 0px;
}
