body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #FCFCFC url(../images/bg.jpg) repeat;
	margin: 0px;
	padding: 0px;
	color: #555555;
	min-width: 320px;
}
a {
	color: #009FDA;
	text-decoration: none;
}
.container {
	width: auto;
	margin-right: 100px;
	margin-left: 100px;
}
.launch.button {
	position: fixed;
	top: 63px;
	z-index: 500;
	width: 70px;
}
.launch.button .text {
	display: inline-block;
	display: none;
}

