/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "pure";
@import "grids-responsive";
//@import "main-grid";
//@import "blog";
//@import "compass/utilities/links/link-colors";
@import "compass/css3/box-sizing";
/* */

$sm: "screen and (min-width: 35.5em)";  //  568px
$md: "screen and (min-width: 48em)";   // 768px
$lg: "screen and (min-width: 64em)";   // 1024px
$xl: "screen and (min-width: 80em)";   // 1280px


@mixin respond-to($media) {
   @media #{$media} { @content; }
}


* {
  @include box-sizing(border-box);
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}


/* LAYOUT CSS */

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    @include respond-to($md){
    margin: 80% 2em 0;
    text-align: right;
    }
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
    @include respond-to($md){
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

.brand-title {
    text-transform: uppercase;
    margin: 0;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
    margin: 0;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
    }
    a:hover,a:focus{
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
    }
}

.content {
    padding: 2em 1em 0;
    @include respond-to($md){
        padding: 2em 3em 0;
        margin-left: 25%;
    }
}

.post {
    padding-bottom: 2em;
    border-bottom: 1px solid #ddd8cc;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
    &.life{
    background-color:#5bb75b;
    }
    &.coder{
    background-color:#3A87AD;
    }
    &.otaku{
    background-color: #999;
    }
}

.archives {
    padding: 0px 0px 12px 0px;
    a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
    }
    a:hover,a:focus{
    background: transparent;
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
    }
}