<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{# page.home}}{{/ page.home}}{{^ page.home}}{{page.title}} |
{{/ page.home}}{{ site.title }}</title>
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{{ assets }}} 
    {{{ math }}}
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

</head>
<body>
  <div class="container">
    <div class="row-fluid">
      <div class="span10 offset2 hidden-phone">
	<header class="header">
	{{# page.home}}
	<h1>{{ site.title }}</h1>
	  <blockquote>{{ site.tagline }}</blockquote>
	{{/ page.home}}
	{{^ page.home}}
	<h1>{{ page.title }}</h1>
	{{/ page.home}}
	</header>
      </div>
      <div class="span10 visible-phone">
	<header>
	  <h1>{{ site.title }}</h1>
	  <blockquote>{{ site.tagline }}</blockquote>
	</header>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
	<div class="visible-phone">
	  <nav class="nav moon-nav-list"  data-spy="affix" data-offset-top="70">
            <ul>
	      <li><a class="brand" href="/">Home</a></li>
              {{# site.navigation?to_pages }}
              {{> pages_list }}
              {{/ site.navigation?to_pages }}
            </ul>
          </nav>
	 </div>
      </div>
      <div class="span8 content">
	<nav class="nav moon-nav-list"  data-spy="affix" data-offset-top="70">
          <ul>
	    <li><a class="brand" href="/">Home</a></li>
            {{# site.navigation?to_pages }}
            {{> pages_list }}
            {{/ site.navigation?to_pages }}
	    <li  class="separate"></li>
	    {{# page?next }}
	       <li> 
		 <a class="meta-nav next" href="{{ url }}">
		   <span>←<br></span>{{ title }}
		 </a>
	       </li>
            {{/ page?next }}
	    {{# page?previous }}
	       <li>
		 <a class="meta-nav previous" href="{{ url }}">
		   {{ title }}<span><br>→</span>
		 </a>
	       </li>
            {{/ page?previous }}
          </ul>
       </nav>
	{{{ content }}}
      </div>
   </div>
</div> <!-- /container -->

      <footer>
        <p>&copy; {{ site.author.name }} 2012 
          with help from <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    {{{ google_prettify }}}
    {{{ analytics }}}
  </body>
</html>
