<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{# page.home}}{{/ page.home}}{{^ page.home}}
      {{page.title}} | 
      {{/ page.home}}
      {{ data.title }}
    </title>
    {{# page.description }}
    <meta name="description" content="{{ . }}">
    {{/ page.description }}
    <meta name="author" content="{{ data.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    <!-- Le styles -->
    {{{ stylesheets.all }}}
    <!-- script -->
    {{{ javascripts.all }}}
    {{{ widgets.processing_js}}}
    <!-- lazyload -->
    <script type="text/javascript">
      jQuery(document).ready(function($){
      if (navigator.platform == "iPad") return;
      jQuery("img.lazy").not(".cycle img").lazyload({
      effect:"fadeIn",
      placeholder: "{{urls.media}}/ajax-loader.gif"
      });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
      $(".fancybox").fancybox();
      });
    </script>

    <link rel="shortcut icon" href="{{urls.media}}/favicon.ico">
    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
	 <link rel="shortcut icon" href="images/favicon.ico">
	 <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	 <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	 <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	 -->

  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
	<div class="span2 hidden-phone"></div>
	<div class="span8">
	  <header class="header pull-left">
	    {{# page.home}}
	    <h1>{{ data.title }}</h1>
	    <blockquote>{{ data.tagline }}</blockquote>
	    {{/ page.home}}
	    {{^ page.home}}
	    {{! rich_title 扩展标题，支持html tag 主要用来显示 achive 那几个页面}}
	    {{# page.rich_title}}
	    <h1>{{{ page.rich_title }}}</h1>
	    {{/page.rich_title}}
	    {{^ page.rich_title}}
	    <h1>{{ page.title }}</h1>
	    {{/page.rich_title}}
	    {{/ page.home}}
	  </header>
  	  <button type="button" class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    </button>
	</div> <!-- header -->

         </div>
      <div class="row-fluid">
	<div class="span2 hidden-phone"></div>
	<div class="span8 content">
	  {{< moon_nav}}
	      {{{ content }}}
	      </div>  <!-- content -->
      </div>  <!-- row -->
      <div class="row-fluid">
	<div class="span2 hidden-phone"></div>
	<div class="span8">
	  {{< footer}}
	      </div>
      </div>
    </div> <!-- /container -->
    {{{ widgets.math }}}
    {{{ widgets.google_prettify }}}
    {{{ widgets.analytics }}}
  </body>
</html>
