---
layout : default
---
<div class="page-header">
  <h1>{{ page.title }} {{# page.tagline }} <small>{{ . }}</small>{{/ page.tagline }}</h1>
</div>

<div class="row">
  <div class="span8">
    {{{ content }}}
    <hr>
    <div class="pagination">
      <ul>
        <ul>
          {{# page?previous }}
            <li class="prev"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></li>
          {{/ page?previous }}
          {{^ page?previous }}
            <li class="prev disabled"><a>&larr; Previous</a></li>
          {{/ page?previous }}

            <li><a href="/archive">Archive</a></li>

          {{# page?next }}
            <li class="next"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></li>
          {{/ page?next }}
          {{^ page?next }}
            <li class="next disabled"><a>Next &rarr;</a>
          {{/ page?next }}
        </ul>
      </ul>
    </div>
    <hr>

    <!-- 见这里https://github.com/ruhoh/ruhoh.rb/issues/52 所以只能
    hardcode 到这里 -->
    <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO
        YOUR WEBPAGE * * */
            var disqus_title = '{{page.title}}';
            var disqus_identifier ='{{page.postid}} {{page.guid}}';
            var disqus_shortname = 'doousblog'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	<!-- disqus end-->
    
  </div>
  
  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date }}</span></div>
    <br>
    <h4>Categories</h4>
    <ul class="tag_box">
    {{# page.categories?to_categories }}
      {{> categories_list }}
    {{/ page.categories?to_categories }}
    </ul>
    <br>
    <h4>Tags</h4>
    <ul class="tag_box">
    {{# page.tags?to_tags }}
      {{> tags_list }}
    {{/ page.tags?to_tags }}
    </ul>
  </div>
</div>
