---
layout : default
---
<article class="post box">
<ul class="category-label">
{{# page.categories }}
<li><a href="{{url}}" class="{{name}}">{{ name }}</a></li>
{{/ page.categories }}
</ul>
<div class="cf"></div>
{{{ toc }}}
{{{ page.content }}}
<div class="footer">
  <ul class="tag_box inline">
  {{# page.tags }}
  <li><a href="{{url}}">{{ name }}</a></li>
  {{/ page.tags }}
  </ul>
  <span class="date">
  {{ page.date }}
  </span>
</divr>
</article>


<div class="box">
  <div class="plus">
    {{{ widgets.gplus }}}
    {{{ widgets.jiathis }}}


{{! 见这里https://github.com/ruhoh/ruhoh.rb/issues/52 所以只能將 disqus hardcode 到这里}}
  </div>

    <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO
        YOUR WEBPAGE * * */
	    var disqus_developer = 1;
            var disqus_title = '{{page.title}}';
	    {{#page.postid}}
            var disqus_identifier ='{{page.postid}} {{page.guid}}';
	    {{/page.postid}}
	    {{^page.postid}}
	    {{! post.id 不再返回完整路径?}}
            var disqus_identifier ='posts/{{page.id}}';
	    {{/page.postid}}
            var disqus_shortname = 'doousblog'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	<!-- disqus end-->
 </div>
