{{#parent}}
<li class="{{#submenu}}dropdown-submenu{{/submenu}}{{^submenu}}dropdown{{/submenu}}"><a href="{{ url }}" data-toggle="dropdown" class="dropdown-toggle">{{ title }}{{#submenu}}{{/submenu}}{{^submenu}}<b class="caret"></b>{{/submenu}}</a>
{{/parent}}
{{^parent}}
<li><a href="{{ url }}">{{ title }}</a>
{{/parent}}
{{#parent}}
  <ul class="dropdown-menu {{#submenu}}sub-menu{{/submenu}}">
    {{#children}}
      {{> notes_navbar_node}}
    {{/children}}
  </ul>
{{/parent}}
</li>
