@charset "UTF-8";
/* moon.css kang from desert and twitter-bootstrap */
/* line 3, ../../sass/google_prettify/moon.scss */
pre {
  display: block;
  background-color: #333333;
}

/* line 4, ../../sass/google_prettify/moon.scss */
pre .nocode {
  background-color: none;
  color: black;
}

/* line 5, ../../sass/google_prettify/moon.scss */
pre .str {
  color: #ffa0a0;
}

/* string  - pink */
/* line 6, ../../sass/google_prettify/moon.scss */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}

/* line 7, ../../sass/google_prettify/moon.scss */
pre .com {
  color: skyblue;
}

/* comment - skyblue */
/* line 8, ../../sass/google_prettify/moon.scss */
pre .typ {
  color: palegreen;
}

/* type    - lightgreen */
/* line 9, ../../sass/google_prettify/moon.scss */
pre .lit {
  color: indianred;
}

/* literal - darkred */
/* line 10, ../../sass/google_prettify/moon.scss */
pre .pun {
  color: white;
}

/* punctuation */
/* line 11, ../../sass/google_prettify/moon.scss */
pre .pln {
  color: white;
}

/* plaintext */
/* line 12, ../../sass/google_prettify/moon.scss */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}

/* html/xml tag    - lightyellow */
/* line 13, ../../sass/google_prettify/moon.scss */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}

/* attribute name  - khaki */
/* line 14, ../../sass/google_prettify/moon.scss */
pre .atv {
  color: #ffa0a0;
}

/* attribute value - pink */
/* line 15, ../../sass/google_prettify/moon.scss */
pre .dec {
  color: palegreen;
}

/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
/* line 18, ../../sass/google_prettify/moon.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

/* IE indents via margin-left */
/* line 19, ../../sass/google_prettify/moon.scss */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  color: #555;
}

/* Alternate shading for lines */
/* line 21, ../../sass/google_prettify/moon.scss */
li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #373737;
}

/* line 23, ../../sass/google_prettify/moon.scss */
.prettyprint {
  padding: 8px;
  border: 1px solid #e1e1e8;
  width: auto;
  overflow: auto;
}

/* 保护 li 不被换行 */
/* line 30, ../../sass/google_prettify/moon.scss */
.prettyprint li {
  white-space: nowrap;
}

/* line 34, ../../sass/google_prettify/moon.scss */
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #373737;
  -moz-box-shadow: inset 40px 0 0 #373737;
  box-shadow: inset 40px 0 0 #373737;
}

/* Specify class=linenums on a pre to get line numbering */
/* line 42, ../../sass/google_prettify/moon.scss */
ol.linenums {
  margin: 0 0 0 33px;
  /* IE indents via margin-left */
}

@media print {
  /* line 47, ../../sass/google_prettify/moon.scss */
  pre {
    background-color: none;
  }

  /* line 48, ../../sass/google_prettify/moon.scss */
  pre .str, code .str {
    color: #006600;
  }

  /* line 49, ../../sass/google_prettify/moon.scss */
  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 50, ../../sass/google_prettify/moon.scss */
  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  /* line 51, ../../sass/google_prettify/moon.scss */
  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 52, ../../sass/google_prettify/moon.scss */
  pre .lit, code .lit {
    color: #004444;
  }

  /* line 53, ../../sass/google_prettify/moon.scss */
  pre .pun, code .pun {
    color: #444400;
  }

  /* line 54, ../../sass/google_prettify/moon.scss */
  pre .pln, code .pln {
    color: black;
  }

  /* line 55, ../../sass/google_prettify/moon.scss */
  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 56, ../../sass/google_prettify/moon.scss */
  pre .atn, code .atn {
    color: #440044;
  }

  /* line 57, ../../sass/google_prettify/moon.scss */
  pre .atv, code .atv {
    color: #006600;
  }
}
