<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">

		<title>{{# page.home}}{{/ page.home}}{{^ page.home}}
			{{page.title}} |
			{{/ page.home}}
			{{ data.notes.title }} </title>

		{{# page.description }}
		<meta name="description" content="{{ . }}">
		{{/ page.description }}
		<meta name="author" content="{{ data.author.name }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le styles -->
		{{< notes_css }}
		<!-- script -->
		{{< notes_js }}

		{{{ widgets.lazyload }}}

		{{{ widgets.fancybox }}}

		<link rel="shortcut icon" href="{{urls.media}}/favicon.ico">
		<!-- Le fav and touch icons -->
		<!-- Update these with your own images

		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
		-->
		{{{ widgets.analytics }}}
	</head>
	<body>
		<div class="ui vertical inverted labeled sidebar menu sidebar accordion">
			<div class="header item">
				<div class="item title">
					<i class="dropdown icon"></i>
				<a href="/notes"><i class="home large icon"></i></a>
				</div>
				<div class="menu content">
					<a class="item" href="/">博客</a>
					<a class="item" href="http://wiki.dourok.info/doku.php">Wiki</a>
					<a class="item" href="/about">关于我</a>
				</div>
			</div>
			{{# notes.navigation }}
			{{#children}}
			<div class="header item">
				<div class="item title">
					{{#has_child}}
					<i class="dropdown icon"></i>
					{{/has_child}}
					{{#data}}
					<a href="{{ url }}">{{ title }}</a>
					{{/data}}
					{{^data}}
					<a>{{ name }}</a>
					{{/data}}
				</div>
				{{#has_child}}
				<div class="menu content">
					{{#children}}
					{{> notes_menu_node}}
					{{/children}}
				</div>
				{{/has_child}}
			</div>
			{{/children}}
			{{/ notes.navigation }}
		</div>

		<div class="ui black huge launch right attached button">
			<i class="icon list layout"></i>
			<span class="text">菜单</span>
		</div>

		<header class="segment container">
			<h1 class="ui dividing header">{{page.title}}</h1>
			<p>
				{{page.description}}
			</p>
		</header>
		<div class="container">
			<article>
				{{{ page.content }}}
			</article>
			{{> footer}}
		</div>
		{{{ widgets.math }}}
		{{{ widgets.google_prettify }}}
	</body>
</html>

