body {
    font-size: 16px;
}
.header > h1 {
    font-size: 1.8em;
    line-height: 1em;
    margin-top: 0.7em;
}

.header > blockquote{
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0;
}

/* .box { */
/*     background-color: white; */
/*     margin: 10px 0px 50px 0px; */
/*     padding: 10px 20px; */
/*     moz-border-radius: 5px; */
/*     webkit-moz-border-radius: 5px; */
/*     border-radius: 5px; */
/*     -webkit-box-shadow: 0px 1px 3px #A8ABAB; */
/*     -moz-box-shadow: 0px 1px 3px #A8ABAB; */
/*     box-shadow: 0px 1px 3px #A8ABAB; */
/* } */

.box  
{  
    position: relative;  
    background-color: white; 
    margin: 0.7em 0px 3em 0px; 
    padding: 1.5em 1.5em 0.5em 1.5em;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),  0 0 50px rgba(0, 0, 0, 0.1);  
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),  0 0 50px rgba(0, 0, 0, 0.1);  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2),  0 0 50px rgba(0, 0, 0, 0.1);  
}  

article li {
    line-height: 1.5em;
}

/* 內文樣式 */
.post > h2.title {
  position:relative;
  font-size: 1.8em;
}

.post > h2.title span.date { 
  font-size:0.7em;
}

.post > .more {
  margin:.8em 0;
  text-align:left;
}

.post p{
    font-size:1em;
    line-height:1.7em;
    margin: 0 0 1.5em 0;
    text-align: justify;
}

/* 通用圖片樣式 :fixme */
.post img{
    border: 1px solid #DDD;
    padding: 6px;
    max-width: 97.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: auto;
    height: auto;
}

.post canvas{
    display: block;
    margin: 10px 0 10px 0
}




/* 移動設備導航欄 */
.listing-item {
    line-height: 24px;
}

.achive-title > .caret {
    vertical-align: 7px;
    margin-left: 5px;
    opacity: 0.3;
}

.achive-title:hover > .caret {
    opacity: 1;
}


/* 標籤 & 分類 */
.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

.category {
    text-transform: capitalize;
}


/* footer */
.footer{
    margin-top:3.5em;
    margin-bottom:-0.7em
}
.footer >.date {
    position:relative;
    float: right;
    top:-1.4em;
    font-size:1.2em
}

.statement > .license{
    float:right;
}

/* 右上角分類標籤 */
.category-label {
    position:relative;
    float: right;
    list-style-type: none;
    top: -1.7em;
    margin: 0 0 0.3em 0.3em;
    height: 0;
    overflow: visible;
}

/* kang from bootstrap */
.category-label a{
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #EEE;
    padding: 3px 6px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    text-transform: capitalize;
}
.category-label li{
    float: left;
    margin-right: 10px;
}
.category-label .life{
    background-color:#5bb75b;
}
.category-label .coder{
    background-color:#3A87AD;
}
.category-label .otaku{
    background-color: #999;
}

.jiathis_style{
    position:relative;
    float: right;
}

/**
 * 
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: ""; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


[class^="icon-"], [class*=" icon-"] {
background-image: url("glyphicons-halflings.png");
}

.btn-navbar {
  display: block;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-top: 1.2em;
  margin-left: 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  background-image: -moz-linear-gradient(top, #151515, #040404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
  background-image: -webkit-linear-gradient(top, #151515, #040404);
  background-image: -o-linear-gradient(top, #151515, #040404);
  background-image: linear-gradient(to bottom, #151515, #040404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  border-color: #040404 #040404 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #040404;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
 
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.btn-navbar:hover,
.btn-navbar:active,
.btn-navbar.active,
.btn-navbar.disabled,
.btn-navbar[disabled] {
     color: #ffffff;
     background-color: #040404;
     *background-color: #000000;
}
.btn-navbar:active,
.btn-navbar.active {
  background-color: #000000 \9;
}
.btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}


@media (min-width: 768px) {
   
 /* 左側導航欄 */
.nav-wrapper {
    margin-left: -12em;
    position:fixed;
    text-align: right;
    width: 10em;
}

.nav-wrapper.affix {
    top: 20px;
}
.moon-nav-list {
    font-size: 1em;
    text-transform: uppercase;
    width: 10em;
}
.moon-nav-list ul{
    list-style:none outside none    
}

.moon-nav-list a {
    display: block;
    padding: .7em 1em;
    color: #000000;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


.moon-nav-list a:hover {
    background-color: #08C;
    text-decoration: none;
    color: #f9f9f9;
    -webkit-transition: color .2s linear;
}
.moon-nav-list .separate{
    display: block;
    overflow: hidden;
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid white;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {   
 /* 左側導航欄 */
.nav-wrapper {
    position:static;
}
.nav-wrapper.affix {
    position:static;
}
.moon-nav-list {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}
.moon-nav-list ul{
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 3px;
}

.moon-nav-list a {
    display: block;
    background-color: #EEE;
    padding: .5em 5em;
    margin-bottom: 2px;
    color: #000000;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.moon-nav-list a:hover {
    background-color: #08C;
    text-decoration: none;
    color: #f9f9f9;
    -webkit-transition: color .2s linear;
}


.moon-nav-list a.next {
    margin-top: .7em;
    padding-top: 0;
    padding-bottom: .5em;
}

.moon-nav-list a.previous {
    padding-top: .5em;
    padding-bottom: 0;
}

.moon-nav-list .separate{
    display: none;
}

}