{{#has_child}}
  <li class="{{#submenu}}dropdown-submenu{{/submenu}}{{^submenu}}dropdown{{/submenu}}">
    {{#data}}
      <a href="{{ url }}" data-toggle="dropdown" class="dropdown-toggle">{{ title }}
    {{/data}}
    ({{count}})
    {{#submenu}}{{/submenu}}{{^submenu}}<b class="caret"></b>{{/submenu}}</a>
{{/has_child}}
{{^has_child}}
{{#data}}
<li><a href="{{ url }}">{{ title }}</a>
{{/data}}
{{/has_child}}
{{#has_child}}
  <ul class="dropdown-menu {{#submenu}}sub-menu{{/submenu}}">
    {{#children}}
      {{> notes_navbar_node}}
    {{/children}}
  </ul>
{{/has_child}}
</li>
